@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-bg: #063440;
  --clr-text: #d0cbeb;
  --clr-accent: #e9a34e;
  --clr-accent-text: #48455a;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--clr-text);
  background-color: var(--clr-bg);
  margin: 0 auto;
  letter-spacing: 0.2rem;
}

a {
  text-decoration: none;
  color: var(--clr-link);
}

nav a {
  font-size: 2rem;
  color: var(--clr-text);
}

nav a:hover,
nav a:active {
  transform: scale(5);
}

nav a:focus {
  text-decoration: dotted;
}

nav .hover {
  visibility: hidden;
}

nav a:hover + .hover {
  visibility: visible;
  transform: scale(2);
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 0px;
  margin: 0px 6px;
}

header h1 {
  font-size: 2rem;
}

header h2 {
  font-size: 1rem;
}

main h3 {
  font-size: 2rem;
  margin: 10px;
}

main h4 {
  font-size: 1rem;
  margin: 10px;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

hr {
  background-color: var(--clr-accent-text);
  width: 90%;
  height: 3px;
  border: 0 none;
  border-radius: 30%;
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(80ch, 100%)
    1fr;
  justify-items: center;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  padding-top: 20px;
  width: 100%;
  grid-column: 1 / -1;
}

nav img {
  border-radius: 20px;
}

nav {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2);
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

ul {
  padding: 3px;
  list-style-type: none;
}

li {
  padding: 6px;
  list-style: none;
}

.card {
  border: 3px solid var(--clr-accent-text);
  padding: 10px 10px 0px 10px;
  margin: 0px 0px 20px 0px;
  border-radius: 10px;
}

.card .name {
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-right: 6px;
}

.card .link {
  font-size: 0.7rem;
  text-align: end;
  border-radius: 10px;
  background: var(--clr-accent-text);
  padding: 5px;
  line-height: 1.3rem;
  text-transform: uppercase;
}

.card p {
  font-size: 1rem;
  line-height: 1.4rem;
}

.wedding-link {
  grid-row: 1;
  grid-column: 2;
}

.travel-link {
  grid-row: 1;
  grid-column: 4;
}

.activities-link {
  grid-row: 2;
  grid-column: 1;
}

.rsvp-link {
  grid-row: 2;
  grid-column: 3;
}

.registry-link {
  grid-row: 2;
  grid-column: 5;
}

.image1 {
  grid-row: 1;
  grid-column: 1;
}

.image2 {
  grid-row: 1;
  grid-column: 3;
}

.image3 {
  grid-row: 1;
  grid-column: 5;
}

.image4 {
  grid-row: 2;
  grid-column: 2;
}

.image5 {
  grid-row: 2;
  grid-column: 4;
}

@media only screen and (max-width: 800px) {
  .mobile-hidden {
    display: none;
  }

  header {
    grid-template-columns: repeat(1, 1fr);
  }

  nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .hover-image1 .wedding-link {
    grid-row: 1;
    grid-column: 2;
  }

  .travel-link {
    grid-row: 2;
    grid-column: 1;
  }

  .activities-link {
    grid-row: 3;
    grid-column: 2;
  }

  .rsvp-link {
    grid-row: 4;
    grid-column: 1;
  }

  .registry-link {
    grid-row: 5;
    grid-column: 2;
  }

  .image1 {
    grid-row: 1;
    grid-column: 1;
  }

  .image2 {
    grid-row: 2;
    grid-column: 2;
  }

  .image3 {
    grid-row: 3;
    grid-column: 1;
  }

  .image4 {
    grid-row: 4;
    grid-column: 2;
  }

  .image5 {
    grid-row: 5;
    grid-column: 1;
  }
}
